<a href="https://colab.research.google.com/github/zizilnam/Kaggle_Competition_Ventilator_Pressure_Prediction/blob/main/%5BTPU%5D_bi_lstm_gru.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# lstm GRU
https://www.kaggle.com/hrshuvo/dnn-lstm-tpu

In [ ]:
%cd /content/drive/MyDrive/Ventilator Pressure Prediction/bi_lstm_gru_kibae

/content/drive/MyDrive/Ventilator Pressure Prediction/bi_lstm_gru_kibae

In [ ]:
### Ï∞∏Í≥† EDA 
## 01 To learn or not to learn? : https://www.kaggle.com/c/ventilator-pressure-prediction/discussion/278964
print("01 To learn or not to learn?: ", "https://www.kaggle.com/c/ventilator-pressure-prediction/discussion/278964")
print()

## 01-1) PyTorch LSTM with TensorFlow-like initialization
print("01-1) PyTorch LSTM with TensorFlow-like initialization", "https://www.kaggle.com/junkoda/pytorch-lstm-with-tensorflow-like-initialization")
print()

## 01-2) [01-1Ïùò Ïò§Î¶¨ÏßÑ?] Ventilator Pressure | EDA | LSTM 0.189 üî•
print("Ventilator Pressure | EDA | LSTM 0.189 üî•", "https://www.kaggle.com/dmitryuarov/ventilator-pressure-eda-lstm-0-189/notebook")
print()


## 02-1) finetune of Tensorflow Bidirectional LSTM
print("02-1) finetune of Tensorflow Bidirectional LSTM", 'https://www.kaggle.com/tenffe/finetune-of-tensorflow-bidirectional-lstm')
print()

## 02-2 Ensemble Folds with MEDIAN - [0.153]
print("02-2) Ensemble Folds with MEDIAN - [0.153]", "https://www.kaggle.com/cdeotte/ensemble-folds-with-median-0-153")
print()


## 03 finetune of Tensorflow Bidirectional LSTM
print("03. finetune of Tensorflow Bidirectional LSTM", 'https://www.kaggle.com/tenffe/finetune-of-tensorflow-bidirectional-lstm')
print()

## Ïö©Îã¥Îãò - Single Bi-LSTM Model Pressure Predict(GPU) [Infer] : https://www.kaggle.com/emphymachine/single-bi-lstm-model-pressure-predict-gpu-infer
print("Ïö©Îã¥Îãò - Single Bi-LSTM Model Pressure Predict(GPU) [Infer]: ", "https://www.kaggle.com/emphymachine/single-bi-lstm-model-pressure-predict-gpu-infer")
print()

##  Google Ventilator LOFO Feature Importance
print("Google Ventilator LOFO Feature Importance", "https://www.kaggle.com/aerdem4/google-ventilator-lofo-feature-importance")
print()

01 To learn or not to learn?:  https://www.kaggle.com/c/ventilator-pressure-prediction/discussion/278964

01-1) PyTorch LSTM with TensorFlow-like initialization https://www.kaggle.com/junkoda/pytorch-lstm-with-tensorflow-like-initialization

Ventilator Pressure | EDA | LSTM 0.189 üî• https://www.kaggle.com/dmitryuarov/ventilator-pressure-eda-lstm-0-189/notebook

02-1) finetune of Tensorflow Bidirectional LSTM https://www.kaggle.com/tenffe/finetune-of-tensorflow-bidirectional-lstm

02-2) Ensemble Folds with MEDIAN - [0.153] https://www.kaggle.com/cdeotte/ensemble-folds-with-median-0-153

03. finetune of Tensorflow Bidirectional LSTM https://www.kaggle.com/tenffe/finetune-of-tensorflow-bidirectional-lstm

Ïö©Îã¥Îãò - Single Bi-LSTM Model Pressure Predict(GPU) [Infer]:  https://www.kaggle.com/emphymachine/single-bi-lstm-model-pressure-predict-gpu-infer

Google Ventilator LOFO Feature Importance https://www.kaggle.com/aerdem4/google-ventilator-lofo-feature-importance

## Preperation

In [ ]:
# Google Drive Mount
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Import Ìï¥ÏïºÏßÄ?

In [ ]:
## gpu Ï†ïÎ≥¥
!nvidia-smi

NVIDIA-SMI has failed because it couldn't communicate with the NVIDIA driver. Make sure that the latest NVIDIA driver is installed and running.

In [ ]:
!pip install einops

Requirement already satisfied: einops in /usr/local/lib/python3.7/dist-packages (0.3.2)

In [ ]:
# Google Ventilaotr ÎÇ¥ÏóêÏÑú ÎßàÏö¥Ìä∏ Î∞è Î°úÎìú 

base_path = '/content/drive/MyDrive/Ventilator Pressure Prediction/'

import numpy as np
import pandas as pd
import gc
import os


from einops.layers.keras import Rearrange

from sklearn.model_selection import KFold
from sklearn.preprocessing import RobustScaler, normalize
from sklearn.metrics import mean_absolute_error

import tensorflow as tf
print(tf.__version__)

from tensorflow.keras.callbacks import EarlyStopping, LearningRateScheduler, ModelCheckpoint, ReduceLROnPlateau
from tensorflow.keras.optimizers.schedules import ExponentialDecay
from tensorflow.keras.models import Model, load_model, Sequential
from tensorflow.keras.utils import plot_model
from tensorflow.keras.layers import Bidirectional, LayerNormalization, LSTM, Multiply, Dense, Dropout, Input, Concatenate, Add, GRU, BatchNormalization, Conv1D, Embedding

from scipy.signal import butter, filtfilt
from pickle import dump

from IPython.display import display
from warnings import filterwarnings
filterwarnings('ignore')

num_workers = os.cpu_count()
num_workers

2.6.0

40

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
debug = True
n = 100 * 1024 if debug else None

ss = pd.read_csv(base_path + 'sample_submission.csv', nrows= n)
train_org = pd.read_csv(base_path + 'train.csv', nrows= n)
test_org = pd.read_csv(base_path + 'test.csv', nrows= n)

# ss = pd.read_csv(base_path + 'sample_submission.csv')
# train_org = pd.read_csv(base_path + 'train.csv')
# test_org = pd.read_csv(base_path + 'test.csv')

In [ ]:
# train.shape, test.shape, ss.shape

## Save Memory

In [ ]:
# Ï∞®Ïò§Î•¥Îäî RAMÏùÑ ÏïÑÍª¥Î≥ºÍπå?
# save_ram : Îßê Í∑∏ÎåÄÎ°ú RAMÏùÑ ÏïÑÎÅºÍ∏∞ ÏúÑÌï¥, Îç∞Ïù¥ÌÑ∞ Îã§Ïù¥Ïñ¥Ìä∏Î•º Ìï† Ïàò ÏûàÎäî ÏΩîÎìúÏù¥Îã§. 
# Ï∂úÏ≤ò1:https://www.kaggle.com/dmitryuarov/tps-soft-voting-xgb-cb-lgbm#Basic-information
# Ï∂úÏ≤ò2: https://www.kaggle.com/rinnqd/reduce-memory-usage
# ÏßÄÍ∏à ÎãπÏû• Ïì∞ÏßÄ ÏïäÏùÑ Í≤ÉÏù¥Îã§. 
# „Ñ¥ÏÇ¨Ïú†: Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖÏúºÎ°ú ÌëúÌòÑÎêòÎäî Ïà´ÏûêÍ∞Ä Îã§Î•¥Í∏∞ ÎïåÎ¨∏Ïóê, Ïä§ÏºÄÏùºÎßÅ ÏßÅÌõÑ(ÌëúÌòÑÎêòÎäî Ïä§ÏºÄÏùºÏù¥ ÎπÑÏä∑ÌïòÍ∏∞ ÎïåÎ¨∏Ïóê), Î™®Îç∏Ïóê ÎÑ£Í∏∞ Ï†ÑÏóê ÌïòÎäî Í≤ÉÏù¥ Ï†ÅÏ†àÌïòÎã§. 

def save_ram(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)

    end_mem = df.memory_usage().sum() / 1024**2

    print(f"ÏµúÏ†ÅÌôî Ïù¥ÌõÑ Î©îÎ™®Î¶¨ ÏÇ¨Ïö©Îüâ: {round(end_mem, 2)}MB")
    print(f"Î©îÎ™®Î¶¨ Í∞êÏÜåÎπÑÏú®: {round(100*(start_mem - end_mem)/(start_mem), 2)}%")

    return df

## add_features

In [ ]:
def add_features(df):
    df['cross']= df['u_in'] * df['u_out']
    df['cross2']= df['time_step'] * df['u_out']
    df['area'] = df['time_step'] * df['u_in']
    df['area'] = df.groupby('breath_id')['area'].cumsum()
    df['time_step_cumsum'] = df.groupby(['breath_id'])['time_step'].cumsum()
    df['u_in_cumsum'] = (df['u_in']).groupby(df['breath_id']).cumsum()
    print("Step-1...Completed")
    
    df['u_in_lag1'] = df.groupby('breath_id')['u_in'].shift(1)
    df['u_out_lag1'] = df.groupby('breath_id')['u_out'].shift(1)
    df['u_in_lag_back1'] = df.groupby('breath_id')['u_in'].shift(-1)
    df['u_out_lag_back1'] = df.groupby('breath_id')['u_out'].shift(-1)
    df['u_in_lag2'] = df.groupby('breath_id')['u_in'].shift(2)
    df['u_out_lag2'] = df.groupby('breath_id')['u_out'].shift(2)
    df['u_in_lag_back2'] = df.groupby('breath_id')['u_in'].shift(-2)
    df['u_out_lag_back2'] = df.groupby('breath_id')['u_out'].shift(-2)
    df['u_in_lag3'] = df.groupby('breath_id')['u_in'].shift(3)
    df['u_out_lag3'] = df.groupby('breath_id')['u_out'].shift(3)
    df['u_in_lag_back3'] = df.groupby('breath_id')['u_in'].shift(-3)
    df['u_out_lag_back3'] = df.groupby('breath_id')['u_out'].shift(-3)
    df['u_in_lag4'] = df.groupby('breath_id')['u_in'].shift(4)
    df['u_out_lag4'] = df.groupby('breath_id')['u_out'].shift(4)
    df['u_in_lag_back4'] = df.groupby('breath_id')['u_in'].shift(-4)
    df['u_out_lag_back4'] = df.groupby('breath_id')['u_out'].shift(-4)
    df = df.fillna(0)
    print("Step-2...Completed")

    df['breath_id__u_in__max'] = df.groupby(['breath_id'])['u_in'].transform('max')
    df['breath_id__u_in__mean'] = df.groupby(['breath_id'])['u_in'].transform('mean')
    df['breath_id__u_in__diffmax'] = df.groupby(['breath_id'])['u_in'].transform('max') - df['u_in']
    df['breath_id__u_in__diffmean'] = df.groupby(['breath_id'])['u_in'].transform('mean') - df['u_in']
    print("Step-3...Completed")
    
    df['u_in_diff1'] = df['u_in'] - df['u_in_lag1']
    df['u_out_diff1'] = df['u_out'] - df['u_out_lag1']
    df['u_in_diff2'] = df['u_in'] - df['u_in_lag2']
    df['u_out_diff2'] = df['u_out'] - df['u_out_lag2']
    df['u_in_diff3'] = df['u_in'] - df['u_in_lag3']
    df['u_out_diff3'] = df['u_out'] - df['u_out_lag3']
    df['u_in_diff4'] = df['u_in'] - df['u_in_lag4']
    df['u_out_diff4'] = df['u_out'] - df['u_out_lag4']
    print("Step-4...Completed")
    
    df['one'] = 1
    df['count'] = (df['one']).groupby(df['breath_id']).cumsum()
    df['u_in_cummean'] =df['u_in_cumsum'] /df['count']

    df['breath_id_lag']=df['breath_id'].shift(1).fillna(0)
    df['breath_id_lag2']=df['breath_id'].shift(2).fillna(0)
    df['breath_id_lagsame']=np.select([df['breath_id_lag']==df['breath_id']],[1],0)
    df['breath_id_lag2same']=np.select([df['breath_id_lag2']==df['breath_id']],[1],0)
    df['breath_id__u_in_lag'] = df['u_in'].shift(1).fillna(0)
    df['breath_id__u_in_lag'] = df['breath_id__u_in_lag'] * df['breath_id_lagsame']
    df['breath_id__u_in_lag2'] = df['u_in'].shift(2).fillna(0)
    df['breath_id__u_in_lag2'] = df['breath_id__u_in_lag2'] * df['breath_id_lag2same']
    print("Step-5...Completed")
    
    df['time_step_diff'] = df.groupby('breath_id')['time_step'].diff().fillna(0)

    g = df.groupby('breath_id')['u_in'].apply(pd.Series)
    
    df['ewm_u_in_mean'] = g.ewm(halflife=9).mean()\
                           .reset_index(level=0, drop=True)
                           

    print("====add_more_features_Begins===")
    df['ewm_u_in_std'] = g.ewm(halflife=10).std()\
                          .reset_index(level=0, drop=True)
    df['ewm_u_in_corr'] = g.ewm(halflife=10).corr()\
                           .reset_index(level=0, drop=True)
    df['rolling_10_mean'] = g.rolling(window=10, min_periods=1).mean()\
                             .reset_index(level=0, drop=True)
    df['rolling_10_max'] = g.rolling(window=10, min_periods=1).max()\
                            .reset_index(level=0, drop=True)
    df['rolling_10_std'] = g.rolling(window=10, min_periods=1).std()\
                            .reset_index(level=0, drop=True)

    df['expand_mean'] = g.expanding(2).mean()\
                         .reset_index(level=0, drop=True)
    df['expand_max'] = g.expanding(2).max()\
                        .reset_index(level=0, drop=True)
    df['expand_std'] = g.expanding(2).std()\
                        .reset_index(level=0, drop=True)
    df['R_new'] = df["R"].apply(lambda val: 1 / val**4)
    
    print("====add_more_features_Completed===")
    
    df[["15_in_sum","15_in_min","15_in_max","15_in_mean"]] = (df\
                                                              .groupby('breath_id')['u_in']\
                                                              .rolling(window=15,min_periods=1)\
                                                              .agg({"15_in_sum":"sum",
                                                                    "15_in_min":"min",
                                                                    "15_in_max":"max",
                                                                    "15_in_mean":"mean"})\
                                                               .reset_index(level=0,drop=True))
    print("Step-6...Completed")
    
    df['u_in_lagback_diff1'] = df['u_in'] - df['u_in_lag_back1']
    df['u_out_lagback_diff1'] = df['u_out'] - df['u_out_lag_back1']
    df['u_in_lagback_diff2'] = df['u_in'] - df['u_in_lag_back2']
    df['u_out_lagback_diff2'] = df['u_out'] - df['u_out_lag_back2']
    print("Step-7...Completed")
    #df['R_new']= df['R'] ##Ìë∏ÏïÑÏ£ÑÏú†Ïùò Î≤ïÏπô 
    df['R'] = df['R'].astype(str)
    df['C'] = df['C'].astype(str)
    df['R__C'] = df["R"].astype(str) + '__' + df["C"].astype(str)
    df = pd.get_dummies(df)
    print("Step-8...Completed")
    
    return df

In [ ]:
train = add_features(train_org)
test  = add_features(test_org)

print(train.shape, test.shape)
del train_org, test_org

Step-1...Completed
Step-2...Completed
Step-3...Completed
Step-4...Completed
Step-5...Completed
====add_more_features_Begins===
====add_more_features_Completed===
Step-6...Completed
Step-7...Completed
Step-8...Completed
Step-1...Completed
Step-2...Completed
Step-3...Completed
Step-4...Completed
Step-5...Completed
====add_more_features_Begins===
====add_more_features_Completed===
Step-6...Completed
Step-7...Completed
Step-8...Completed
(102400, 82) (102400, 81)

In [ ]:
train = save_ram(train, verbose=True)

ÏµúÏ†ÅÌôî Ïù¥ÌõÑ Î©îÎ™®Î¶¨ ÏÇ¨Ïö©Îüâ: 14.26MB
Î©îÎ™®Î¶¨ Í∞êÏÜåÎπÑÏú®: 73.5%

In [ ]:
train.head()

   id  breath_id  time_step  ...  R__C_5__10  R__C_5__20  R__C_5__50
0   1          1   0.000000  ...           0           0           0
1   2          1   0.033661  ...           0           0           0
2   3          1   0.067505  ...           0           0           0
3   4          1   0.101562  ...           0           0           0
4   5          1   0.135742  ...           0           0           0

[5 rows x 82 columns]

In [ ]:
test = save_ram(test)

ÏµúÏ†ÅÌôî Ïù¥ÌõÑ Î©îÎ™®Î¶¨ ÏÇ¨Ïö©Îüâ: 14.06MB
Î©îÎ™®Î¶¨ Í∞êÏÜåÎπÑÏú®: 73.48%

In [ ]:
test.head()

   id  breath_id  time_step  ...  R__C_5__10  R__C_5__20  R__C_5__50
0   1          0   0.000000  ...           0           1           0
1   2          0   0.031891  ...           0           1           0
2   3          0   0.063843  ...           0           1           0
3   4          0   0.095764  ...           0           1           0
4   5          0   0.127686  ...           0           1           0

[5 rows x 81 columns]

In [ ]:
test.head(2)

   id  breath_id  time_step  ...  R__C_5__10  R__C_5__20  R__C_5__50
0   1          0   0.000000  ...           0           1           0
1   2          0   0.031891  ...           0           1           0

[2 rows x 81 columns]

## **[Íµ≠Î£∞] add_features**

In [ ]:
# ## https://www.kaggle.com/tenffe/finetune-of-tensorflow-bidirectional-lstm/notebook

# def add_features(df):
#     df['area'] = df['time_step'] * df['u_in']
#     df['area'] = df.groupby('breath_id')['area'].cumsum()
    
#     df['u_in_cumsum'] = (df['u_in']).groupby(df['breath_id']).cumsum()
    
#     df['u_in_lag1'] = df.groupby('breath_id')['u_in'].shift(1)
#     df['u_out_lag1'] = df.groupby('breath_id')['u_out'].shift(1)
#     df['u_in_lag_back1'] = df.groupby('breath_id')['u_in'].shift(-1)
#     df['u_out_lag_back1'] = df.groupby('breath_id')['u_out'].shift(-1)
#     df['u_in_lag2'] = df.groupby('breath_id')['u_in'].shift(2)
#     df['u_out_lag2'] = df.groupby('breath_id')['u_out'].shift(2)
#     df['u_in_lag_back2'] = df.groupby('breath_id')['u_in'].shift(-2)
#     df['u_out_lag_back2'] = df.groupby('breath_id')['u_out'].shift(-2)
#     df['u_in_lag3'] = df.groupby('breath_id')['u_in'].shift(3)
#     df['u_out_lag3'] = df.groupby('breath_id')['u_out'].shift(3)
#     df['u_in_lag_back3'] = df.groupby('breath_id')['u_in'].shift(-3)
#     df['u_out_lag_back3'] = df.groupby('breath_id')['u_out'].shift(-3)
#     df['u_in_lag4'] = df.groupby('breath_id')['u_in'].shift(4)
#     df['u_out_lag4'] = df.groupby('breath_id')['u_out'].shift(4)
#     df['u_in_lag_back4'] = df.groupby('breath_id')['u_in'].shift(-4)
#     df['u_out_lag_back4'] = df.groupby('breath_id')['u_out'].shift(-4)
#     df = df.fillna(0)
    
#     df['breath_id__u_in__max'] = df.groupby(['breath_id'])['u_in'].transform('max')
#     df['breath_id__u_out__max'] = df.groupby(['breath_id'])['u_out'].transform('max')
    
#     df['u_in_diff1'] = df['u_in'] - df['u_in_lag1']
#     df['u_out_diff1'] = df['u_out'] - df['u_out_lag1']
#     df['u_in_diff2'] = df['u_in'] - df['u_in_lag2']
#     df['u_out_diff2'] = df['u_out'] - df['u_out_lag2']
    
#     df['breath_id__u_in__diffmax'] = df.groupby(['breath_id'])['u_in'].transform('max') - df['u_in']
#     df['breath_id__u_in__diffmean'] = df.groupby(['breath_id'])['u_in'].transform('mean') - df['u_in']
    
#     df['breath_id__u_in__diffmax'] = df.groupby(['breath_id'])['u_in'].transform('max') - df['u_in']
#     df['breath_id__u_in__diffmean'] = df.groupby(['breath_id'])['u_in'].transform('mean') - df['u_in']
    
#     df['u_in_diff3'] = df['u_in'] - df['u_in_lag3']
#     df['u_out_diff3'] = df['u_out'] - df['u_out_lag3']
#     df['u_in_diff4'] = df['u_in'] - df['u_in_lag4']
#     df['u_out_diff4'] = df['u_out'] - df['u_out_lag4']
#     df['cross']= df['u_in']*df['u_out']
#     df['cross2']= df['time_step']*df['u_out']
    
#     df['R'] = df['R'].astype(str)
#     df['C'] = df['C'].astype(str)
#     df['R__C'] = df["R"].astype(str) + '__' + df["C"].astype(str)
#     df = pd.get_dummies(df)

# # https://www.kaggle.com/junkoda/pytorch-lstm-with-tensorflow-like-initialization/notebook
#     # g = df.groupby('breath_id')['u_in'].apply(pd.Series)
#     # df['ewm_u_in_mean'] = g.ewm(halflife=10).mean()\
#     #                        .reset_index(level=0, drop=True)
#     # df['ewm_u_in_std'] = g.ewm(halflife=10).std()\
#     #                       .reset_index(level=0, drop=True)
#     # df['ewm_u_in_corr'] = g.ewm(halflife=10).corr()\
#     #                        .reset_index(level=0, drop=True)
#     # df['rolling_10_mean'] = g.rolling(window=10, min_periods=1).mean()\
#     #                          .reset_index(level=0, drop=True)
#     # df['rolling_10_max'] = g.rolling(window=10, min_periods=1).max()\
#     #                         .reset_index(level=0, drop=True)
#     # df['rolling_10_std'] = g.rolling(window=10, min_periods=1).std()\
#     #                         .reset_index(level=0, drop=True)

#     # df['expand_mean'] = g.expanding(2).mean()\
#     #                      .reset_index(level=0, drop=True)
#     # df['expand_max'] = g.expanding(2).max()\
#     #                     .reset_index(level=0, drop=True)
#     # df['expand_std'] = g.expanding(2).std()\
#     #                     .reset_index(level=0, drop=True)
#     # df = df.fillna(0)



#     df.drop(['id', 'breath_id'], axis=1, inplace=True)
#     if 'pressure' in df.columns:
#         df.drop('pressure', axis=1, inplace=True)

        
#     return df

In [ ]:
# train = add_features(train)
# test = add_features(test)

## **[Íµ≠Î£∞ + Í∞ìÏö©Îã¥ÎãòÎ≤ÑÏ†Ñ] add_features**

In [ ]:
# ## https://www.kaggle.com/emphymachine/single-bi-lstm-model-pressure-predict-gpu-infer

# def add_features(df):
#     df['area'] = df['time_step'] * df['u_in']
#     df['area'] = df.groupby('breath_id')['area'].cumsum()
#     df['u_in_cumsum'] = (df['u_in']).groupby(df['breath_id']).cumsum()
#     df['u_in_lag1'] = df.groupby('breath_id')['u_in'].shift(1)
#     df['u_out_lag1'] = df.groupby('breath_id')['u_out'].shift(1)
#     df['u_in_lag_back1'] = df.groupby('breath_id')['u_in'].shift(-1)
#     df['u_out_lag_back1'] = df.groupby('breath_id')['u_out'].shift(-1)
#     df['u_in_lag2'] = df.groupby('breath_id')['u_in'].shift(2)
#     df['u_out_lag2'] = df.groupby('breath_id')['u_out'].shift(2)
#     df['u_in_lag_back2'] = df.groupby('breath_id')['u_in'].shift(-2)
#     df['u_out_lag_back2'] = df.groupby('breath_id')['u_out'].shift(-2)
#     df['u_in_lag3'] = df.groupby('breath_id')['u_in'].shift(3)
#     df['u_out_lag3'] = df.groupby('breath_id')['u_out'].shift(3)
#     df['u_in_lag_back3'] = df.groupby('breath_id')['u_in'].shift(-3)
#     df['u_out_lag_back3'] = df.groupby('breath_id')['u_out'].shift(-3)
#     df['u_in_lag4'] = df.groupby('breath_id')['u_in'].shift(4)
#     df['u_out_lag4'] = df.groupby('breath_id')['u_out'].shift(4)
#     df['u_in_lag_back4'] = df.groupby('breath_id')['u_in'].shift(-4)
#     df['u_out_lag_back4'] = df.groupby('breath_id')['u_out'].shift(-4)
#     df = df.fillna(0)
#     df['breath_id__u_in__max'] = df.groupby(['breath_id'])['u_in'].transform('max')
#     df['breath_id__u_out__max'] = df.groupby(['breath_id'])['u_out'].transform('max')
#     df['u_in_diff1'] = df['u_in'] - df['u_in_lag1']
#     df['u_out_diff1'] = df['u_out'] - df['u_out_lag1']
#     df['u_in_diff2'] = df['u_in'] - df['u_in_lag2']
#     df['u_out_diff2'] = df['u_out'] - df['u_out_lag2']
#     df['breath_id__u_in__diffmax'] = df.groupby(['breath_id'])['u_in'].transform('max') - df['u_in']
#     df['breath_id__u_in__diffmean'] = df.groupby(['breath_id'])['u_in'].transform('mean') - df['u_in']
#     df['breath_id__u_in__diffmax'] = df.groupby(['breath_id'])['u_in'].transform('max') - df['u_in']
#     df['breath_id__u_in__diffmean'] = df.groupby(['breath_id'])['u_in'].transform('mean') - df['u_in']
#     df['u_in_diff3'] = df['u_in'] - df['u_in_lag3']
#     df['u_out_diff3'] = df['u_out'] - df['u_out_lag3']
#     df['u_in_diff4'] = df['u_in'] - df['u_in_lag4']
#     df['u_out_diff4'] = df['u_out'] - df['u_out_lag4']
#     df['cross']= df['u_in']*df['u_out']
#     df['cross2']= df['time_step']*df['u_out']
#     df['R'] = df['R'].astype(str)
#     df['C'] = df['C'].astype(str)
#     df['R__C'] = df["R"].astype(str) + '__' + df["C"].astype(str)
#     df = pd.get_dummies(df)


#     df.drop(['id', 'breath_id'], axis=1, inplace=True)
#     if 'pressure' in df.columns:
#         df.drop('pressure', axis=1, inplace=True)


#     return df

### ÌïÑÏöîÏóÜÎäî feature drop

In [ ]:
## target
targets = train[['pressure']].to_numpy().reshape(-1, 80)
targets.shape

(1280, 80)

In [ ]:
## train
train.drop(['pressure', 'id', 'breath_id','one','count','breath_id_lag','breath_id_lag2','breath_id_lagsame',
            'breath_id_lag2same'], axis=1, inplace=True)

In [ ]:
## ÌôïÏù∏
print(train.shape)
train.head(1)

(102400, 73)

   time_step      u_in  u_out  ...  R__C_5__10  R__C_5__20  R__C_5__50
0        0.0  0.083313      0  ...           0           0           0

[1 rows x 73 columns]

In [ ]:
## Test
test = test.drop(['id', 'breath_id','one','count','breath_id_lag','breath_id_lag2','breath_id_lagsame',
                  'breath_id_lag2same'], axis=1)

In [ ]:
## ÌôïÏù∏
print(test.shape)
test.head(1)

(102400, 73)

   time_step  u_in  u_out  ...  R__C_5__10  R__C_5__20  R__C_5__50
0        0.0   0.0      0  ...           0           1           0

[1 rows x 73 columns]

## scaler

In [ ]:
sc = RobustScaler()
train = sc.fit_transform(train)
test = sc.transform(test) ## np.ndarray

In [ ]:
train = train.reshape(-1, 80, train.shape[-1])
train.shape

(1280, 80, 73)

In [ ]:
test = test.reshape(-1, 80, train.shape[-1])
test.shape

(1280, 80, 73)

In [ ]:
targets.shape

(1280, 80)

In [ ]:
# test.shape[-2:]

In [ ]:
pressure = targets.squeeze().reshape(-1, 1).astype('float32')

P_MIN = np.min(pressure)
P_MAX = np.max(pressure)
P_STEP = (pressure[1] -  pressure[0])[0]

print(f"MIN Pressure: {P_MIN}")
print(f"MAX Pressure: {P_MAX}")
print(f"Pressure step: {P_STEP}")
print(f"Unique Values: {np.unique(pressure).shape[0]}")

MIN Pressure: -1.8955078125
MAX Pressure: 64.8125
Pressure step: 0.0703125
Unique Values: 806

In [ ]:
del pressure

In [ ]:
gc.collect()

202

## TPU or NOT?

In [ ]:
try:
    tpu = tf.distribute.cluster_resolver.TPUClusterResolver()
    tf.config.experimental_connect_to_cluster(tpu)
    tf.tpu.experimental.initialize_tpu_system(tpu)
    tpu_strategy = tf.distribute.experimental.TPUStrategy(tpu)
    BATCH_SIZE = tpu_strategy.num_replicas_in_sync * 64
    print("Running on TPU:", tpu.master())
    print(f"Batch Size: {BATCH_SIZE}")
    
except ValueError:
    strategy = tf.distribute.get_strategy()
    BATCH_SIZE = 512
    print(f"Running on {strategy.num_replicas_in_sync} replicas")
    print(f"Batch Size: {BATCH_SIZE}")

INFO:tensorflow:Clearing out eager caches

INFO:tensorflow:Clearing out eager caches

INFO:tensorflow:Initializing the TPU system: grpc://10.103.90.162:8470

INFO:tensorflow:Initializing the TPU system: grpc://10.103.90.162:8470

INFO:tensorflow:Finished initializing TPU system.

INFO:tensorflow:Finished initializing TPU system.
WARNING:absl:`tf.distribute.experimental.TPUStrategy` is deprecated, please use  the non experimental symbol `tf.distribute.TPUStrategy` instead.

INFO:tensorflow:Found TPU system:

INFO:tensorflow:Found TPU system:

INFO:tensorflow:*** Num TPU Cores: 8

INFO:tensorflow:*** Num TPU Cores: 8

INFO:tensorflow:*** Num TPU Workers: 1

INFO:tensorflow:*** Num TPU Workers: 1

INFO:tensorflow:*** Num TPU Cores Per Worker: 8

INFO:tensorflow:*** Num TPU Cores Per Worker: 8

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:localhost/replica:0/task:0/device:CPU:0, CPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:localhost/replica:0/task:0/device:CPU:0, CPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:CPU:0, CPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:CPU:0, CPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:0, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:0, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:1, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:1, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:2, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:2, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:3, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:3, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:4, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:4, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:5, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:5, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:6, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:6, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:7, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:7, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU_SYSTEM:0, TPU_SYSTEM, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU_SYSTEM:0, TPU_SYSTEM, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:XLA_CPU:0, XLA_CPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:XLA_CPU:0, XLA_CPU, 0, 0)

Running on TPU: grpc://10.103.90.162:8470
Batch Size: 512

## Model

In [ ]:

def rc_to_index(r,c):
    ## Í∞ÄÏ§ëÏπò?
    #r_map = { 5: 0, 20: 1, 50: 2}
    #c_map = {10: 0, 20: 1, 50: 2}
    r = (r== 5).float()*1 + (r==20).float()*2 + (r==50).float()*3
    c = (c==10).float()*1 + (c==20).float()*2 + (c==50).float()*3
    r = r.long()
    c = c.long()
    return r,c

In [ ]:
# train.shape
a = Input(shape=(train.shape[-2:]))
a

In [ ]:
train.shape

(1280, 80, 73)

In [ ]:
def d_model():
    
    x_input = Input(shape=(train.shape[-2:]))
    ## ÏûÖÎ†• ÌòïÌÉú: 80 * train.shape[-1]

    # r_embed = Embedding(4, 2) #, padding_idx=0)
    # c_embed = Embedding(4, 2) #, padding_idx=0)
    #seq_embed = Sequential()
    #seq_embed.add(Rearrange('b l d -> b d l'))
    #seq_embed.add(Conv1D( 32, kernel_size = 5, strides=1, padding='same', activation ='selu'))
    #seq_embed.add(Rearrange('b d l -> b l d'))
    #seq_embed.add(LayerNormalization(32))
    #seq_embed.add(Activation('tanh'))
        # nn.SiLU(),
        # nn.Dropout(0.),
    #)

    # r,c = rc_to_index(x_input[:,:,'R'],x_input[:,:,'C'])
    # r = r_embed(r)
    # c = c_embed(c)
    # seq = torch.cat((r, c, x[:,:,:-2]), 2)
    #seq = Concatenate(axis=2)(x_input[:,:,:-2])
    #x_input2 = seq_embed(seq)


    x1 = Bidirectional(LSTM(units = 768, return_sequences = True))(x_input)
    x2 = Bidirectional(LSTM(units = 512, return_sequences = True))(x1)

    ## z2Îûë
    x3 = Bidirectional(LSTM(units = 384, return_sequences = True))(x2)

    ## z3Îûë
    x4 = Bidirectional(LSTM(units = 256, return_sequences = True))(x3)

    ## z4Îûë 
    x5 = Bidirectional(LSTM(units=128, return_sequences=True))(x4)
    
    z2 = Bidirectional(GRU(units=384, return_sequences=True))(x2)
    
    z31 = Multiply()([x3, z2])
    z31 = BatchNormalization()(z31)

    z3 = Bidirectional(GRU(units=256, return_sequences=True))(z31)
    
    z41 = Multiply()([x4, z3])
    z41 = BatchNormalization()(z41)
    
    z4 = Bidirectional(GRU(units=128, return_sequences=True))(z41)
    
    z51 = Multiply()([x5, z4])
    z51 = BatchNormalization()(z51)
    
    z5 = Bidirectional(GRU(units=64, return_sequences=True))(z51)
    
    x = Concatenate(axis=2)([x5, z2, z3, z4, z5])
    
    x = Dense(units=128, activation='selu')(x)
    
    x_output = Dense(units=1)(x)


    model = Model(inputs=x_input, outputs=x_output, name='BLG_Model')

    return model

In [ ]:
model = d_model()
model.summary()

Model: "BLG_Model"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_9 (InputLayer)            [(None, 80, 73)]     0
__________________________________________________________________________________________________
bidirectional_63 (Bidirectional (None, 80, 1536)     5173248     input_9[0][0]
__________________________________________________________________________________________________
bidirectional_64 (Bidirectional (None, 80, 1024)     8392704     bidirectional_63[0][0]
__________________________________________________________________________________________________
bidirectional_65 (Bidirectional (None, 80, 768)      4328448     bidirectional_64[0][0]
__________________________________________________________________________________________________
bidirectional_68 (Bidirectional (None, 80, 768)      3248640     bidirectional_64[0][0]
__________________________________________________________________________________________________
multiply_21 (Multiply)          (None, 80, 768)      0           bidirectional_65[0][0]
                                                                 bidirectional_68[0][0]
__________________________________________________________________________________________________
batch_normalization_21 (BatchNo (None, 80, 768)      3072        multiply_21[0][0]
__________________________________________________________________________________________________
bidirectional_66 (Bidirectional (None, 80, 512)      2099200     bidirectional_65[0][0]
__________________________________________________________________________________________________
bidirectional_69 (Bidirectional (None, 80, 512)      1575936     batch_normalization_21[0][0]
__________________________________________________________________________________________________
multiply_22 (Multiply)          (None, 80, 512)      0           bidirectional_66[0][0]
                                                                 bidirectional_69[0][0]
__________________________________________________________________________________________________
batch_normalization_22 (BatchNo (None, 80, 512)      2048        multiply_22[0][0]
__________________________________________________________________________________________________
bidirectional_67 (Bidirectional (None, 80, 256)      656384      bidirectional_66[0][0]
__________________________________________________________________________________________________
bidirectional_70 (Bidirectional (None, 80, 256)      493056      batch_normalization_22[0][0]
__________________________________________________________________________________________________
multiply_23 (Multiply)          (None, 80, 256)      0           bidirectional_67[0][0]
                                                                 bidirectional_70[0][0]
__________________________________________________________________________________________________
batch_normalization_23 (BatchNo (None, 80, 256)      1024        multiply_23[0][0]
__________________________________________________________________________________________________
bidirectional_71 (Bidirectional (None, 80, 128)      123648      batch_normalization_23[0][0]
__________________________________________________________________________________________________
concatenate_7 (Concatenate)     (None, 80, 1920)     0           bidirectional_67[0][0]
                                                                 bidirectional_68[0][0]
                                                                 bidirectional_69[0][0]
                                                                 bidirectional_70[0][0]
                                                                 bidirectional_71[0][0]
__________________________________________________________________________________________________
dense_14 (Dense)                (None, 80, 128)      245888      concatenate_7[0][0]
__________________________________________________________________________________________________
dense_15 (Dense)                (None, 80, 1)        129         dense_14[0][0]
==================================================================================================
Total params: 26,343,425
Trainable params: 26,340,353
Non-trainable params: 3,072
__________________________________________________________________________________________________

## Train & Predict

In [ ]:
train.shape

(1280, 80, 73)

In [ ]:
with tpu_strategy.scope():
    
    VERBOSE = 0
    test_preds = []
    kf = KFold(n_splits=7, shuffle=True, random_state=4401)
    
    for fold, (train_idx, test_idx) in enumerate(kf.split(train, targets)):
        X_train, X_valid = train[train_idx], train[test_idx]
        y_train, y_valid = targets[train_idx], targets[test_idx]
        
        model = d_model()
        model.compile(optimizer="adam", loss="mae")

        lr = ReduceLROnPlateau(monitor="val_loss", factor=0.85, 
                               patience=7, verbose=VERBOSE)
        
        save_locally = tf.saved_model.SaveOptions(experimental_io_device='/job:localhost')
        chk_point = ModelCheckpoint(f'./Bidirect_LSTM_model_{fold+1}C.h5', options=save_locally, 
                                    monitor='val_loss', verbose=VERBOSE, 
                                    save_best_only=True, mode='min')

        es = EarlyStopping(monitor="val_loss", patience=30, 
                           verbose=VERBOSE, mode="min", 
                           restore_best_weights=True)
        
        model.fit(X_train, y_train, 
                  validation_data=(X_valid, y_valid), 
                  epochs=400,
                  verbose=VERBOSE,
                  batch_size=BATCH_SIZE, 
                  callbacks=[lr, chk_point, es])
        
        load_locally = tf.saved_model.LoadOptions(experimental_io_device='/job:localhost')
        model = load_model(f'./Bidirect_LSTM_model_{fold+1}C.h5', options=load_locally)
        
        y_true = y_valid.squeeze().reshape(-1, 1)
        y_pred = model.predict(X_valid, batch_size=BATCH_SIZE).squeeze().reshape(-1, 1)
        score = mean_absolute_error(y_true, y_pred)
        print(f"Fold-{fold+1} - Score: {score}")
        
        test_preds.append(model.predict(test, batch_size=BATCH_SIZE).squeeze().reshape(-1, 1).squeeze())

        if i >= 1:
            break

OSError: ignored

## Submit

In [ ]:
base_path

In [ ]:
sample = pd.read_csv(base_path + 'sample_submission.csv')

In [ ]:
sample["pressure"] = np.median(np.vstack(test_preds),axis=0)
sample["pressure"] = np.round((sample.pressure - P_MIN)/P_STEP) * P_STEP + P_MIN
sample["pressure"] = np.clip(sample.pressure, P_MIN, P_MAX)
sample.to_csv(base_path + 'blg_tpu_median_submission.csv', index=False)
sample.to_csv(base_path + 'blg_tpu_submission.csv', index=False)